#title {
  text-align: center;
}
.header {
  text-align: center;
  background: rgb(0,231,232);
background: linear-gradient(90deg, rgba(0,231,232,1) 0%, rgba(198,9,117,1) 35%, rgba(0,255,51,1) 100%);
font-family: monospace;
font-weight: 500;
font-stretch: 1% 125%;
border-radius: 95%;
}
#main {
  background: rgb(238,174,202);
background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
font-family: monospace;
}
#image {
  position: relative;
    right: 5px;
    left: 800px;
    width: 300px;
    text-align: center;
font-family: monospace;
font-size: 18px;

}
img {
  border-radius: 50%;

}
#tribute-info {
  text-align: center;
  position: fixed;
  top: 450px;
  font-size: 20px;
  margin-left: 100px;
  margin-right: 100px;
}
.clearfix {
  overflow: auto;
}
#tribute-link{
  text-align: center;
  position: fixed;
  top: 850px;
  font-size: 24px;
  margin-left: 750px;
  margin-right: 0px;
}
